:root {
  --button-glow: white;
  --button-background: black;
}

.page {
  width: 100vw;
  height: 100%;
  display: flex;

  background-color: black;
}

.button-list-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  padding: 0 20px;
}

.sign-container {
  flex: 3;
  background-color: blueviolet;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  width: 100%;

  display: flex;
  justify-content: center;
}

.sign-wrapper {

  width: clamp(200px, 30vw, 500px);
  height: clamp(200px, 30vw, 500px);

  background-color: cadetblue;
}

.logo-wrapper {
  position: absolute;
  right: 1vw;
  bottom: 1vw;

  width: 8vw;
  height: 4vw;

  background-color: brown;
}

@media only screen and (max-width: 425px) {
  .button-list-container {
    display: none;
  }

  .sign-wrapper {
    width: clamp(160px, 80%, 500px);
    height: clamp(160px, 80%, 500px);
  }
  
}